#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/mountains-5750804_960_720.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.card {
  background-color: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: 'Big Shoulders Inline Text', cursive;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}

/* @media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
} */
